assets/jade/profile-settings.jade
doctype html
html(lang="en")
	include ./includes/meta-head.jade

	body
		include ./includes/header.jade

		.main-content__wrap.clearfix

			.account__wrap.width--narrow
				h1 Settings

				form.account-info__form
					.account-info.clearfix
						h6.text--uppercase Account
						.account-info__avatar #[span.image-wrap.border--rounded #[img(src="http://placehold.it/185")]] #[a.button.border-only(href="#") change]

						.account-info__fields
							.account-info__fields--input-group
								label.account-info__fields--label.sr-only(for="profile_name") Your Name
								input.account-info__fields--input.border--rounded(type="text", placeholder="Your Name", id="profile_name", name="profile_name")
								i.icon-user
							.account-info__fields--input-group
								label.account-info__fields--label.sr-only(for="profile_email") Your Email
								input.account-info__fields--input.border--rounded(type="email", placeholder="Your Email", id="profile_email", name="profile_email")
								i.icon-mail
							.account-info__fields--input-group
								label.account-info__fields--label.sr-only(for="profile_password") Your Password
								input.account-info__fields--input.border--rounded(type="password", placeholder="Your Password", id="profile_password" name="profile_password")
								i.icon-lock
							.account-info__fields--input-group
								label.account-info__fields--label.sr-only(for="profile_password_repeat") Your Password Repeat
								input.account-info__fields--input.validate.border--rounded(type="password", placeholder="Your Password Repeat", id="profile_password_repeat" name="profile_password_repeat")
								i.icon-lock
								input.account-info__fields--submit(type="submit", name="profile_info_submit", id="profile_info_submit", value="Save")

					.account-info.clearfix
						h6.text--uppercase Notifications

						.account-info__fields
							.account-info__fields--input-group.clearfix.fancy.type--slide

								label.account-info__fields--label(for="notify_01") #[input.account-info__fields--checkbox(type="checkbox", checked, id="notify_01", name="notify_01")] #[span.account-info__fields--checkbox__toggle email me when my posts are marked as favorites]

							.account-info__fields--input-group.clearfix.fancy.type--slide

								label.account-info__fields--label(for="notify_02") #[input.account-info__fields--checkbox(type="checkbox", checked, id="notify_02", name="notify_02")] #[span.account-info__fields--checkbox__toggle email me when I’m mentioned]

							.account-info__fields--input-group.clearfix.fancy.type--slide

								label.account-info__fields--label(for="notify_03") #[input.account-info__fields--checkbox(type="checkbox", checked, id="notify_03", name="notify_03")] #[span.account-info__fields--checkbox__toggle email me when I get a reply]

							.account-info__fields--input-group.clearfix.fancy.type--slide

								label.account-info__fields--label(for="notify_04") #[input.account-info__fields--checkbox(type="checkbox", id="notify_04", name="notify_04")] #[span.account-info__fields--checkbox__toggle email me when someone follows me]

					.account-info.clearfix
						h6.text--uppercase Privacy

						.account-info__fields
							.account-info__fields--input-group.clearfix.fancy.type--dot

								label.account-info__fields--label(for="privacy_01") #[input.account-info__fields--radio(type="radio", checked, id="privacy_01", name="privacy_group_01")] #[span.account-info__fields--checkbox__toggle allow anyone to tag me]

								label.account-info__fields--label(for="privacy_02") #[input.account-info__fields--radio(type="radio", id="privacy_02", name="privacy_group_01")] #[span.account-info__fields--checkbox__toggle only allow people I follow to tag me]

								label.account-info__fields--label(for="privacy_03") #[input.account-info__fields--radio(type="radio", id="privacy_03", name="privacy_group_01")] #[span.account-info__fields--checkbox__toggle don’t allow anyone to tag me]

							.account-info__fields--input-group.clearfix.fancy.type--dot

								label.account-info__fields--label(for="privacy_04") #[input.account-info__fields--checkbox(type="checkbox", checked, id="privacy_04", name="privacy_04")] #[span.account-info__fields--checkbox__toggle add a  location to my posts]

							.account-info__fields--input-group.clearfix.fancy.type--dot

								label.account-info__fields--label(for="privacy_05") #[input.account-info__fields--checkbox(type="checkbox", id="privacy_05", name="privacy_05")] #[span.account-info__fields--checkbox__toggle let others find me by my email address]

							.account-info__fields--input-group.clearfix.fancy.type--dot

								label.account-info__fields--label(for="privacy_06") #[input.account-info__fields--checkbox(type="checkbox", checked, id="privacy_06", name="privacy_06")] #[span.account-info__fields--checkbox__toggle tailor ads based on my information]

					.account-info.clearfix
						.account-info__fields--input-group.spacing
							input.account-info__fields--submit(type="submit", name="profile_save", id="profile_save", value="Save Changes")

		include ./includes/footer.jade
			script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js")

			script.
				jQuery.validator.setDefaults({
					debug: true,
					success: "valid"
				});
				$(".account-info__form").validate({
					rules: {
						profile_password: "required",
						profile_password_repeat: {
							equalTo: "#profile_password"
						}
					},
					errorPlacement: function(error, element) {}
				});

profile-settings.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simply Social</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/font.css">
    <link rel="stylesheet" href="./assets/css/style.css">
  </head>
  <body>
    <header class="global-header">
      <div class="global-header__wrap--inside"><a href="./" class="global-header__logo"><i class="icon-logo"></i> <span><span>simply</span>social</span></a><a href="#" data-popup-id="create-post-box" class="global-header__create-post create-post-box_open on-click--popup"><i class="icon-new-message"></i></a>
        <div class="global-header__search"><span class="global-header__search--responsive-button on-click--show"><i class="icon-magnify"></i></span>
          <form class="global-header__search--form hidden">
            <label for="search-input" class="sr-only">Search</label>
            <div class="global-header__search--input-group">
              <input type="text" name="search-input" id="s" value="" class="global-header__search--input border--rounded">
              <button type="submit" name="search-submit" class="global-header__search--submit border--rounded"><i class="icon-magnify"></i></button>
            </div>
          </form>
        </div>
        <div class="global-header__profile"><a class="global-header__profile--avatar on-click--show"><span class="image-wrap border--rounded"><img src="http://placehold.it/30"></span></a>
          <ul class="global-header__profile--dropdown border--rounded hidden">
            <li class="global-header__profile--dropdown__item"><a href="#">Profile</a></li>
            <li class="global-header__profile--dropdown__item"><a href="#">Followers</a></li>
            <li class="global-header__profile--dropdown__item"><a href="#">Following</a></li>
            <li class="global-header__profile--dropdown__item"><a href="./profile-settings.html">Settings</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="main-content__wrap clearfix">
      <div class="account__wrap width--narrow">
        <h1>Settings</h1>
        <form class="account-info__form">
          <div class="account-info clearfix">
            <h6 class="text--uppercase">Account</h6>
            <div class="account-info__avatar"><span class="image-wrap border--rounded"><img src="http://placehold.it/185"></span> <a href="#" class="button border-only">change</a></div>
            <div class="account-info__fields">
              <div class="account-info__fields--input-group">
                <label for="profile_name" class="account-info__fields--label sr-only">Your Name</label>
                <input type="text" placeholder="Your Name" id="profile_name" name="profile_name" class="account-info__fields--input border--rounded"><i class="icon-user"></i>
              </div>
              <div class="account-info__fields--input-group">
                <label for="profile_email" class="account-info__fields--label sr-only">Your Email</label>
                <input type="email" placeholder="Your Email" id="profile_email" name="profile_email" class="account-info__fields--input border--rounded"><i class="icon-mail"></i>
              </div>
              <div class="account-info__fields--input-group">
                <label for="profile_password" class="account-info__fields--label sr-only">Your Password</label>
                <input type="password" placeholder="Your Password" id="profile_password" name="profile_password" class="account-info__fields--input border--rounded"><i class="icon-lock"></i>
              </div>
              <div class="account-info__fields--input-group">
                <label for="profile_password_repeat" class="account-info__fields--label sr-only">Your Password Repeat</label>
                <input type="password" placeholder="Your Password Repeat" id="profile_password_repeat" name="profile_password_repeat" class="account-info__fields--input validate border--rounded"><i class="icon-lock"></i>
                <input type="submit" name="profile_info_submit" id="profile_info_submit" value="Save" class="account-info__fields--submit">
              </div>
            </div>
          </div>
          <div class="account-info clearfix">
            <h6 class="text--uppercase">Notifications</h6>
            <div class="account-info__fields">
              <div class="account-info__fields--input-group clearfix fancy type--slide">
                <label for="notify_01" class="account-info__fields--label">
                  <input type="checkbox" checked id="notify_01" name="notify_01" class="account-info__fields--checkbox"> <span class="account-info__fields--checkbox__toggle">email me when my posts are marked as favorites</span>
                </label>
              </div>
              <div class="account-info__fields--input-group clearfix fancy type--slide">
                <label for="notify_02" class="account-info__fields--label">
                  <input type="checkbox" checked id="notify_02" name="notify_02" class="account-info__fields--checkbox"> <span class="account-info__fields--checkbox__toggle">email me when I’m mentioned</span>
                </label>
              </div>
              <div class="account-info__fields--input-group clearfix fancy type--slide">
                <label for="notify_03" class="account-info__fields--label">
                  <input type="checkbox" checked id="notify_03" name="notify_03" class="account-info__fields--checkbox"> <span class="account-info__fields--checkbox__toggle">email me when I get a reply</span>
                </label>
              </div>
              <div class="account-info__fields--input-group clearfix fancy type--slide">
                <label for="notify_04" class="account-info__fields--label">
                  <input type="checkbox" id="notify_04" name="notify_04" class="account-info__fields--checkbox"> <span class="account-info__fields--checkbox__toggle">email me when someone follows me</span>
                </label>
              </div>
            </div>
          </div>
          <div class="account-info clearfix">
            <h6 class="text--uppercase">Privacy</h6>
            <div class="account-info__fields">
              <div class="account-info__fields--input-group clearfix fancy type--dot">
                <label for="privacy_01" class="account-info__fields--label">
                  <input type="radio" checked id="privacy_01" name="privacy_group_01" class="account-info__fields--radio"> <span class="account-info__fields--checkbox__toggle">allow anyone to tag me</span>
                </label>
                <label for="privacy_02" class="account-info__fields--label">
                  <input type="radio" id="privacy_02" name="privacy_group_01" class="account-info__fields--radio"> <span class="account-info__fields--checkbox__toggle">only allow people I follow to tag me</span>
                </label>
                <label for="privacy_03" class="account-info__fields--label">
                  <input type="radio" id="privacy_03" name="privacy_group_01" class="account-info__fields--radio"> <span class="account-info__fields--checkbox__toggle">don’t allow anyone to tag me</span>
                </label>
              </div>
              <div class="account-info__fields--input-group clearfix fancy type--dot">
                <label for="privacy_04" class="account-info__fields--label">
                  <input type="checkbox" checked id="privacy_04" name="privacy_04" class="account-info__fields--checkbox"> <span class="account-info__fields--checkbox__toggle">add a  location to my posts</span>
                </label>
              </div>
              <div class="account-info__fields--input-group clearfix fancy type--dot">
                <label for="privacy_05" class="account-info__fields--label">
                  <input type="checkbox" id="privacy_05" name="privacy_05" class="account-info__fields--checkbox"> <span class="account-info__fields--checkbox__toggle">let others find me by my email address</span>
                </label>
              </div>
              <div class="account-info__fields--input-group clearfix fancy type--dot">
                <label for="privacy_06" class="account-info__fields--label">
                  <input type="checkbox" checked id="privacy_06" name="privacy_06" class="account-info__fields--checkbox"> <span class="account-info__fields--checkbox__toggle">tailor ads based on my information</span>
                </label>
              </div>
            </div>
          </div>
          <div class="account-info clearfix">
            <div class="account-info__fields--input-group spacing">
              <input type="submit" name="profile_save" id="profile_save" value="Save Changes" class="account-info__fields--submit">
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="global-footer">
      <ul class="global-footer__nav">
        <li class="global-footer__nav--item"><a href="#">About Us</a></li>
        <li class="global-footer__nav--item"><a href="#">Support</a></li>
        <li class="global-footer__nav--item"><a href="#">Privacy</a></li>
        <li class="global-footer__nav--item"><a href="#">Terms</a></li>
      </ul>
      <div class="copyright">&copy; 2014 simplysocial</div>
    </footer>
    <div id="create-post-box" class="animate--fade-and-scale hidden">
      <div class="create-post-box border--rounded">
        <form class="create-post-box__form">
          <label for="create-post-box__textarea" class="create-post-box__label">Create new message</label>
          <textarea name="create-post-box__textarea" class="create-post-box__textarea"></textarea>
          <div class="create-post-box__actions">
            <button class="create-post-box__button"><i class="icon-camera"></i> <span>Add Photo</span></button>
            <button class="create-post-box__button"><i class="icon-video-camera"></i> <span>Add Video</span></button>
            <input type="submit" value="Post" class="create-post-box__submit">
          </div>
        </form><a class="create-post-box_close post__popup--close">&times;</a>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="./assets/js/min/jquery-2.1.4.min.js"><\/script>')
      
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
      WebFont.load({
      	google: {
      		families: ['Open Sans:300,400,600,700']
      	},
      	typekit: { id: 'dhk1rfe' }
      });
    </script>
    <script src="./assets/js/min/plugins.min.js"></script>
    <script src="./assets/js/min/main.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script>
      jQuery.validator.setDefaults({
      	debug: true,
      	success: "valid"
      });
      $(".account-info__form").validate({
      	rules: {
      		profile_password: "required",
      		profile_password_repeat: {
      			equalTo: "#profile_password"
      		}
      	},
      	errorPlacement: function(error, element) {}
      });
    </script>
  </body>
</html>
